
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.signupMessage{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 10%;
    padding: 0 2.5rem;
    font-size: 30px;
    font-weight: 600;

}
.signupContainer{
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainDiv, .subDiv, .buttomDiv, .buttonDiv{
    width: 90%;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.signupImages, .secondsignupImage{
    width: 1.5rem;
    height: 3rem;
    object-fit: contain;
}

.entervalueOne, .entervalueTwo{
    margin-left: 1rem;
    width: calc(100% - 1rem);
    border: none;
    height: 2rem;
    border-bottom: 1px solid hsl(0, 0%, 67%);

    color: hsl(0, 0%, 45%);
    font-size: 1rem;
    padding: 0 .5rem;
}
.entervalueOne:focus, .entervalueTwo:focus{
    outline: none;
}

.buttomDiv{
    font-size: 1rem;
    color: hsl(0, 0%, 45%);
    font-family: 'Courier New', Courier, monospace;
}
.messageB{
    color: hsl(227, 33%, 31%);
    text-decoration: underline;
    cursor: pointer;
    margin-left: .4rem;
}

.buttonDiv{
    flex-direction: row-reverse;
    font-family: 'Courier New', Courier, monospace;
}
.signupButton{
    background-color: hsl(227, 33%, 31%);
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redMessage{
    height: 1rem;
    width: calc(90% - 1rem);
    margin-left: 6rem;
    color: hsl(0, 100%, 50%);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width:600px) {
    .signupContainer{
        width: 80vw;
        height: 60vh;
    }
    .signupMessage{
        font-size: 1.4em;
        padding: 0 1rem;
        margin-bottom: .5rem;
    }

    .buttomDiv{
        font-size: 13px;
    }

    .messageB{
        font-size: 13px;
    }
    .signupButton{
        font-size: 14px;
    }
}