.SubHeading {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.signinSubContainer,
.mid_div,
.SignInbox,
.btn_div{
    width: 90%;
    height: 3rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.emailIcon,
.passwordIcon {
    width: 35px;
    height:35px;
}

.Heading {
    font-size: 56px;
    font-family: 'Courier New', Courier, monospace;
}

.emailInput,
.passwordInput {
    margin-left: 1rem;
    width: calc(100% - 1rem);
    border: none;
    height: 2rem;
    border-bottom: 1px solid hsl(0, 0%, 67%);
    color: hsl(0, 0%, 45%);
    font-size: 1rem;
    padding: 0 .5rem;
}

.SignInDiv {
    align-items: center;
    min-height: 100vh;
    /* min-width: 100vw; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: hsl(227, 33%, 31%);
}

.emailInput:focus,
.passwordInput:focus {
    outline: none;
}

.Heading,
.SubHeading {
    color: hsl(0, 0%, 100%);
    width: 35vw;
    margin-bottom: 15px;
}

.SignInbox {
    cursor: pointer;
    color: hsl(0, 0%, 45%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: 700;
}

.SigninContainer {
    background-color:hsl(0, 0%, 100%);
    width: 550px;
    align-items: center;
    height: 250px;
    flex-direction: column;
    border-radius: 16px;
    justify-content: center;
    display: flex;
}

.SignupText {
    color: hsl(227, 33%, 31%);
    text-decoration: underline;
    margin-left: .4rem;
}

.btn_div {
    flex-direction: row-reverse;
}

.button1 {
    font-family: 'Courier New', Courier, monospace;
    height: 33px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #36416A;
    align-items: center;
    font-weight: 700;
    width: 99px;
}

.MessageError {
    height: 1rem;
    width: calc(90% - 1rem);
    margin-left: 6rem;
    color: hsl(0, 100%, 50%);
}

@media screen and (max-width: 600px) {
    
    .Heading {
        font-size:37px;
        width: 88vw;
    }

    .SubHeading {
        font-size:16px;
        width: 90vw;
    }
    .SignInbox{
        font-size: 15px;
    }
    .SigninContainer {
        width: 90vw;
    }
}
