

.main {
    padding: 0 16px;
    display: flex;
    border-radius: 16px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: hsla(227, 33%, 31%, 0.149);
    margin: 16px 8px;
    font-size: 16px;
    font-weight: 900;
}

.selected {
    color: hsl(0, 0%, 100%);
    background-color: hsl(227, 33%, 31%);
}