* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HomeDiv {
    margin-bottom: 1rem;
    width: 100vw;
    height: 3rem;
    background-color: hsl(227, 33%, 31%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HomeHeading {
    font-size: 33px;
    margin-left: 19px;
    font-family: 'Courier New', Courier, monospace;
    /* display: flex; */
    font-weight: 600;
    /* align-items: center; */
}

.mainDiv {
    height: 100%;
    padding: 0 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navButtons {
    
    padding: 0 .5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButtons:hover {
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}

.Imagetext {
    min-height: 69vh;
    width: 100vw;
    display: flex;

}

.ImageContainer {
    width: 49%;
    height: 100%;
}

.HomeImage {
    height: 90%;
    width: 90%;
    object-fit: contain;
    position: relative;
    top:-18px;
}

.textDiv {
    width:49%;
    justify-content: center;
    height: 95vh;
    align-items: center;
    margin-bottom: 16px;
    flex-direction: column;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.Addproduct {
    width: 80%;
    font-size: 3rem;
    font-weight: 600;
}

.feedbackText{
    width: 80%;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: hsl(0, 0%, 42%);
}

.formDiv {
    height: 99vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
}

.Filtersdiv {
    height: 99%;
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsDiv {
    height: 100%;
    width: 70%;

}

.filtertextdiv {  
    background-color: hsl(227, 33%, 31%);
    color: hsl(0, 0%, 100%);
    margin-top: 16.5px;
    padding:16px;
    padding-bottom: 55px;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    width: 79%;
    height: 19%;
}

.TagsDiv {
    background-color: hsl(0, 0%, 100%);
    border-radius:16.5px;
    margin-top: 19px;
    width: 80%;
    cursor: pointer;
    height: 49%;
    padding: 15px;
    align-content: flex-start;
    font-family: 'Courier New', Courier, monospace;
    /* flex-direction: row; */
    box-shadow: 0px 0px 17.5051px hsla(0, 0%, 0%, 0.3);
    display: flex;
    font-weight: 900;
    flex-wrap: wrap;
}

.feedbacktextbox {
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
}

.ApplyText {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

.SuggestionsDiv {
    height: 3rem;
    width: 90%;
    margin: 1rem;
    border: 1px solid hsla(227, 33%, 31%, 0.349);
    border-radius: .5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.SuggestiononeDiv {
    width: 30%;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sortText {
    width: 30%;
    height: 100%;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    position: relative;
}

.TextoneSort {
    padding: 0 1rem;
}

.SelectContainer {
    height: 7rem;
    width: calc(100% - 5rem);
    position: absolute;
    left: 5rem;
    top: 0px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    cursor: pointer;
}

.OneSelectContainer {
    height: 3rem;
    padding-left: .5rem;
    font-weight: 900;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.TwoSelectContainer {
    height: 2rem;
    text-align: center;
    width:135px;
    background-color: hsl(0, 0%, 50%);
    color:hsl(0, 0%, 100%);
    font-weight: bold;
    padding-left: .5rem;
    display: flex;
    align-items: center;
}


.Product_btn {
    cursor: pointer;
    border-radius: 8.51px;
    font-weight: 900;
    padding: 7px 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: hsl(227, 33%, 31%);
    color:hsl(0, 0%, 100%);

}

.SuggestionsText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: 700;
    margin-right:16px;
}

.Sortbytext {
    color: hsl(0, 0%, 55%);
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}





.VisibleProductdiv {
    width: 90%;
    min-height: 80%;
    padding: .5rem 0 2rem 0;
    cursor: pointer;
    margin: 2rem 1rem;
    border-radius: .5rem;
}

@media screen and (max-width:600px) {

    .HomeHeading {

        font-size: 27px;

    }

    .Imagetext {
        flex-direction: column;
    }

    .ImageContainer {
        width: 100%;
        padding-left: 25px;
    }

    .textDiv {
        width: 100%;
        position: relative;
        top: -40px;
    }

    .productsDiv {
        align-items: center;
        justify-content: center;
    }

    .VisibleProductdiv {
        width: 90vw;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        align-items: center;
        justify-content: center;

    }

    .WholeContainer {
        /* height: 450px; */
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .TagsDiv {
        width: 90vw;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 900;
        align-items: center;
    }

    .filtertext {
        width: 90vw;
        color: hsl(0, 0%, 55%);
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
    }

    .Addproduct .feedbackText{
        padding-left: 25px;
    }

    .SuggestionsDiv {
        width: 90vw;
        margin-top: 32px;
    }
    
    .SuggestionsText{
        font-size: 10.5px;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }

    .Sortbytext{
        margin: 0;
        padding: 0;
        font-size: 11px;
    }
    .TextoneSort{
        padding: 0;
    }
    .SelectContainer{
        left: 3rem;
        margin: 0;
        padding: 0;
    }

    .TwoSelectContainer, .OneSelectContainer{
        font-size: 12px;
        width: 95px;
        font-weight: 900;
        cursor: pointer;
    }

    .Product_btn{
        padding: .2em .4em;
        font-weight: 900;
        font-size: 12px;
        width: 20%;
        margin-left: 10%;
    }
}


