* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ProductBoxContainer{
    background-color: hsla(227, 33%, 31%, 0.149);
    margin-top: 18px;
    border-radius: 7px 7px 1px 1px;
    display: flex;
    min-height: 128px;
    padding:9px;

}

.HomeImage {
    height: 80%;
    width: 15%;
    object-fit: contain;
    margin-right: 19px;
}

.mainDiv {
    flex-direction: column;
    display: flex;
    width: 74.3%;
    font-family: 'Courier New', Courier, monospace;
}

.HeadingOne {
    height: 48.6px;
    font-size: 32px;
    font-weight: 900;
    color: hsl(227, 33%, 31%);
}

.HeadingTwo {
    height: 32px;
    font-weight: 700;
    font-size: 19px;
}

.Divthree {
    margin-top: 17px;
    display: flex;
    align-items: center;
    width: 49px;
    justify-content: center;
    height: 90%;
    flex-direction: column;
}

.Divthree_One {
    height: 70%;
    align-items: center;
    background-color: hsl(224, 15%, 81%);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.UpvoteIcon {
    object-fit: contain;
    width: 61%;

}

.NumofLikes {
    font-size: 20px;
    padding: 8px;
}

.Divthreetwo {
    margin-top: 20px;
    height: 19%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.productBoxDiv {    
    align-items: center;
    flex-wrap: wrap;
    height: 49px;
    display: flex;
    gap: 16px;
}


.commentIcon {
    height: 69%;
    object-fit: contain;
}

.commentext {
    color: hsl(0, 0%, 67%);
    font-weight: 900;
}

.chipItems {
    padding: 4.8px 16px;
    font-size: 20px;
    background-color: hsl(227, 100%, 88%);
    font-weight: 900;
    border-radius: 15px;
}

.editbutton {
    background-color: hsl(227, 33%, 31%);
    padding: 6.4px 16px;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    border-radius: 16px;
}

.ProcutBoxContainerDiv{
    height: 192px;
    background-color: hsla(227, 33%, 31%, 0.149);
}

.AddCommentDiv {
    justify-content: center;
    display: flex;
    height:66px;
    align-items: center;
}

.commentBox {
    width: 90%;
    font-size: 19.2px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px 0 0 20px;
    height: 40px;    
}

.commentBox:focus{
    outline: none;
}

.SubmitIcon {
    height:40px;
    padding: 7px;
    background-color: hsl(0, 0%, 100%);
    object-fit: contain;
    border-radius: 0 21px 21px 0;
}

.DivcLASS {
    height: 131px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: scroll;
}

.comments {
    font-size: 19px;
    font-weight: 600;
    padding: 7px 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: hsl(224, 15%, 81%);
    margin: 5px 7px;
    border-radius: 15px;
    
}

@media screen and (max-width: 600px) {
    .HomeImage {
        width: 10%;
    }

    .ProductBoxContainer {
        width: 100%;
    }

    .HeadingTwo{
        font-weight: 900;
        font-size: 13.1px;
    }

    .HeadingOne {
        font-size: 19.2px;
        height: 23px;
        font-weight: 700;
    }

    
    .commentext,
    .NumofLikes,
    .NumofComments {
        font-size:13px;
    }

    .commentext{
        font-weight:900;
    }
    .chipItems {
        font-size: 12px;
        font-weight:bolder;
        padding: 3px 8px;
    }

    .productBoxDiv {
        gap: 4px;
    }

    .commentIcon {
        height: 40%;
    }

    .Divthree_One {
        height: 50%;
        width: 32px;
        border-radius: 12px;
    }

    .UpvoteIcon {
        width: 40%;
    }

    
    .editbutton{
        padding: 3px 15.9px;
        font-size: .8em;
        font-weight: 800;
    }

    .Divthree {
        margin-top: 10px;


    }

    .Divthreetwo{
        gap: 2px;
    }


    .comments{
        font-style: normal;
        font-size: 14px;
    }

}


