* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ProductBoxContainer{
    background-color: hsla(227, 33%, 31%, 0.149);
    margin-top: 18px;
    border-radius: .4rem .5rem 8px 8px;
    display: flex;
    min-height: 128px;
    padding:9px;

}

.HomeImage {
    height: 80%;
    width: 15%;
    object-fit: contain;
    margin-right: 19px;
}

.mainDiv {
    flex-direction: column;
    display: flex;
    width: 74.3%;
    font-family: 'Courier New', Courier, monospace;
}

.HeadingOne {
    height: 48.6px;
    font-size: 32px;
    font-weight: 900;
    color: hsl(227, 33%, 31%);
}

.HeadingTwo {
    height: 32px;
    font-weight: 700;
    font-size: 16px;
}

.Divthree {
    margin-top: 17px;
    display: flex;
    align-items: center;
    width: 49px;
    justify-content: center;
    height: 90%;
    flex-direction: column;
}

.Divthree_One {
    height: 70%;
    align-items: center;
    background-color: hsl(224, 15%, 81%);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.UpvoteIcon {
    object-fit: contain;
    width: 61%;

}

.text3 {
    font-size: 20px;
    padding: 8px;
}

.Divthreetwo {
    margin-top: 20px;
    height: 19%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.productBoxDiv {    
    align-items: center;
    flex-wrap: wrap;
    height: 49px;
    display: flex;
    gap: 16px;
}


.commentIcon {
    height: 69%;
    object-fit: contain;
}

.commentext {
    color: hsl(0, 0%, 67%);
    font-weight: 900;
}

.chipItems {
    padding: 4.8px 16px;
    background-color: hsl(227, 100%, 88%);
    font-weight: 900;
    border-radius: 15px;
}

.editbutton {
    background-color: hsl(227, 33%, 31%);
    padding: 6.4px 16px;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    border-radius: 16px;
}

.main2 {
    height: 192px;
    background-color: #36416A26;
}

.top {
    justify-content: center;
    display: flex;
    height:66px;
    align-items: center;
}

.commentBox {
    width: 90%;
    font-size: 19.2px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px 0 0 20px;
    height: 40px;    
}

.commentBox:focus{
    outline: none;
}

.image4 {
    height: 2.5rem;
    padding: .5rem;
    background-color: hsl(0, 0%, 100%);
    object-fit: contain;
    border-radius: 0 1.25rem 1.25rem 0;
}

.bottom {
    height: 8rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: scroll;
}

.comments {
    padding: .5rem 1rem;
    background-color: hsl(224, 15%, 81%);
    margin: .25rem .5rem;
    border-radius: 1rem;

}

@media screen and (max-width: 600px) {
    .HomeImage {
        width: 10%;
    }

    .ProductBoxContainer {
        width: 100%;
    }

    .HeadingTwo{
        font-weight: 600;
    }

    .HeadingOne {
        font-size: 1.2rem;
        height: 1.5rem;
        font-weight: 700;
    }

    .HeadingTwo,
    .commentext,
    .text3,
    .text5 {
        font-size:13px;
    }

    .commentext{
        font-weight:900;
    }
    .chipItems {
        font-size: .8rem;
        font-weight:bolder;
        padding: .2rem .5rem;
    }

    .productBoxDiv {
        gap: .3rem;
    }

    .commentIcon {
        height: 40%;
    }

    .Divthree_One {
        height: 50%;
        width: 2rem;
        border-radius: .8rem;
    }

    .UpvoteIcon {
        width: 40%;
    }

    
    .editbutton{
        padding: .2rem 1rem;
        font-size: .8em;
        font-weight: 800;
    }

    .Divthree {
        margin-top: 10px;


    }

    .Divthreetwo{
        gap: 2px;
    }



}


