
.signinMessage{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    height: 10%;
    padding: 0 32px;
    font-size: 30px;
    font-weight: 900;
}

.signinContainer{
    align-items: center;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
}

.mainDiv{
    margin-top: 10px;
}
.mainDiv, .subDiv, .bottomDiv, .buttonDiv{
    width: 90%;
    align-items: center;
    height: 49px;
    padding: 16.5px;
    display: flex;
}

.emailIcon, .passwordIcon{
    width:25px;
    height: 49px;
    object-fit: contain;
}

.entervalueOne, .entervalueTwo{
    border: none;
    font-size: 16.5px;
    margin-left: 16px;
    padding: 0 7.5px;
    height: 33px;
    border-bottom: 1px solid hsl(0, 0%, 67%);
    color: hsl(0, 0%, 45%);
    width: calc(99% - 14px);
}




.bottomDiv{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 45%);
    font-weight: 900;
}

.entervalueOne:focus, .entervalueTwo:focus{
    outline: none;
}

.signupMessage{
    color: hsl(227, 33%, 31%);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 7px;
    font-weight: 900;
}


.buttonDiv{
    flex-direction: row-reverse;
}

.loginButton{
    border-radius: 32px;
    background-color: hsl(227, 33%, 31%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    height: 32px;
    display: flex;
    width: 81px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: hsl(0, 0%, 100%);
}

.error{
    color: hsl(0, 100%, 50%);
    width: calc(89% - 15px);
    margin-left: 95px;

}

@media screen and (max-width:600px) {
    
    .bottomDiv{
        font-size: 13px;
    }
    .signinContainer{
        width: 80vw;
        
    }
    .signinMessage{
        font-size: 24px;
        padding: 0 16px;
        margin-bottom: 8px;
    }

    .signupMessage{
        font-size: 13px;
    }
    .loginButton{
        font-size: 14px;
    }
    
}