/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.signinMessage{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    height: 10%;
    padding: 0 2rem;
    font-size: 30px;
    font-weight: 600;

}
.signinContainer{
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainDiv{
    margin-top: 10px;
}
.mainDiv, .subDiv, .bottomDiv, .buttonDiv{
    width: 90%;
    height: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.emailIcon, .passwordIcon{
    width: 1.5rem;
    height: 3rem;
    object-fit: contain;
}

.entervalueOne, .entervalueTwo{
    margin-left: 1rem;
    width: calc(100% - 1rem);
    border: none;
    height: 2rem;
    border-bottom: 1px solid hsl(0, 0%, 67%);
    color: #737373;
    font-size: 1rem;
    padding: 0 .5rem;
}
.entervalueOne:focus, .entervalueTwo:focus{
    outline: none;
}

.bottomDiv{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 45%);
}
.signupMessage{
    color: hsl(227, 33%, 31%);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    cursor: pointer;
    margin-left: .4rem;
}

.buttonDiv{
    flex-direction: row-reverse;
}
.loginButton{
    background-color: hsl(227, 33%, 31%);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    width: calc(90% - 1rem);
    margin-left: 6rem;
    color: hsl(0, 100%, 50%);

}

@media screen and (max-width:600px) {
    .signinContainer{
        width: 80vw;
        
    }
    .signinMessage{
        font-size: 1.5em;
        padding: 0 1rem;
        margin-bottom: .5rem;
    }

    .bottomDiv{
        font-size: 13px;
    }

    .signupMessage{
        font-size: 13px;
    }
    .loginButton{
        font-size: 14px;
    }
    
}