.SignUpDiv{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(227, 33%, 31%);
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.Headdingone, .Headingtwo{
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
    width: 40vw;
    /* font-weight: 500; */
    margin-bottom: 15.5px;
    color: hsl(0, 0%, 100%);   
}

.Headdingone{
    font-size: 50px;
}
.Headingtwo{
    font-size: 19px;
}
.SignupContainer{
    justify-content: center;
    width: 40vw;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 15.5px;
    height: 50vh;
    align-items: center;
}
.ImageDivOne, .ImageDivTwo, .LoginMessage, .SignupBtn{
    height: 50px;
    padding: 15px;   
    display: flex;
    width: 89%;
    align-items: center;
}

.image1, .image2{
    width: 24px;
    height: 48px;
    object-fit: contain;
}

.Entertextone, .TwoEnterText{
    height: 32px;
    border: none;
    color: hsl(0, 0%, 45%);
    margin-left: 16px;
    width: calc(100% - 1rem);
    padding: 0 9px;
    border-bottom: 1px solid hsl(0, 0%, 67%);
    font-size: 15.5px;
}


.Entertextone:focus, .TwoEnterText:focus{
    outline: none;
}

.LoginMessage{
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(0, 0%, 45%);
}

.text3{
    color: hsl(227, 33%, 31%);
    text-decoration: underline;
    margin-left: .4rem;
    font-weight: 600;
}

.SignupBtn{
    font-weight: 600;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: row-reverse;
}

.button1{
    border-radius: 33px;
    color: hsl(0, 0%, 100%);
    justify-content: center;
    background-color: hsl(227, 33%, 31%);
    width: 79px;
    display: flex;
    height: 33px;
    align-items: center;
}

.RedMessage{
    height: 16px;
    width: calc(90% - 1rem);
    margin-left: 95px;
    color: hsl(0, 100%, 50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 600px) {
    .button1{
        margin-bottom: 11px;
    }
    .SignupContainer{
        width: 90vw;
        
    }

    .Headdingone{
        font-size: 30px;
        width: 88vw;
    }
    .Headingtwo{
        font-size:19.1px;
        width: 90vw;
    }

    .LoginMessage{
        font-size: 15px;
    }

    .RedMessage{
        font-size: 12px;
    }
}

