* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.POSTADD {
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.HEADING {
    width: 100%;
    height: 15%;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.entervalue{
    height: 1rem;
    margin: .5rem 0;
    font-size: 1rem;
    padding: .2rem 0;
    border: none;
    border-bottom: 1px solid;
    color: hsl(0, 0%, 45%);
}

.entervalue:focus {
    outline: none;
}

.submitButton {
    width: 5rem;
    height: 1.8rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(227, 33%, 31%);
    color: hsl(0, 0%, 100%);
}

.buttonContainer{
    display: flex;
    cursor: pointer;
    justify-content: space-around;
}
@media screen and (max-width:600px) {
    .POSTADD{
        width: 80vw;
        height: 50vh;
    }

    .HEADING{
        font-size: 25.5px;
    }
    
}